header{
        align-items: center;
        align-content: center;
      }

      body{
        background: url('background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 60px;
        padding-right: 60px;
      }

      nav{
        width: auto;
        height: 50px;
        margin-top: 20px;
        background-color: rgb(110, 109, 109);
        align-content: center;
        align-items: center;
      }
      
      nav a{
        margin:auto;
      }
      nav button{
        float: left;
        margin-left: 20px;
        border-style: none;
        color: white;
        width: 115px;
        height: 50px;
        font-size: 16px;
        background-color: transparent;
        cursor: pointer;
        font-weight: bold;
      }
      
      nav button:hover{
        background-color: rgb(255, 119, 0);
      }
      
      a{
        text-decoration: none;
        color: rgb(255, 119, 0);
      }
      article a:hover{
        color: blue;
      }

      .mainContent{
        display: grid;
        margin-top: 10px;
        gap: 10px;
        grid-template-columns: auto auto;
        grid-template-areas: 
        "topContent content"
        "bottomContent content";
      }

      .content{
        grid-area: content;
        margin-top: 10px;
        display: grid;
        margin-left: 20px;
        grid-gap: 20px;
      }

      .topContent{
        grid-area: topContent;
        float: left;
        border: 2px solid rgb(105, 103, 103);
        padding:2%;
        height: max-content;
        background-color: white;
      }

      .bottomContent{
        grid-area: bottomContent;
        margin-top: 10px;
        border: 2px solid rgb(105, 103, 103);
        padding:2%;
        background-color: white;
      }

      .top-sidebar{
        padding: 5px;
        border: 2px solid rgb(105, 103, 103);
        height: max-content;
        width: 350px;
        background-color: white;
      }
      .middle-sidebar{
        padding: 5px;
        border: 2px solid rgb(105, 103, 103);
        width: 350px;
        background-color: white;

      }
      .bottom-sidebar{
        padding: 5px;
        border: 2px solid rgb(105, 103, 103);
        width: 350px;
        background-color: white;
      }

      .mainFooter{
        height: 50px;
        display: block;
        float: left;
        width: 97.7%;
        margin-top: 10px;
        padding-left: 30px;
        background-color: rgb(110, 109, 109);
      }
