html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  color: #141823;
}

h2 {
  font-size: 60px;
}

.stopwatch__display {
  font-family: "Roboto Mono", monospace;
  font-size: 60px;
}

.stopwatch {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
  border: 10px solid rgb(3, 176, 245);
  border-bottom-width: 40px;
  border-top-width: 40px;
  border-radius: 20px;
}

button {
  font-size: 20px;
  margin: 20px;
  border-radius: 10px;
  padding: 5px 10px;
}
